#section{
    height: 10rem;
}
.image{
    width: 11rem;
    height: 3rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
}
.all_list{
    display: flex;
    gap: 3rem;
}
.list{
    display: flex;
    gap: 3rem;
}
.ulclass1{
    display: flex;
    gap: 3rem;
}
